{% load static %}

<div class="row">
<div class="col-md-4">
<p>&copy; 2016 James Classen</p>
<a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangomade124x25.gif" border="0" alt="Made with Django." title="Made with Django." /></a>
</div>
<div class="col-md-4 col-md-offset-4">
<p><a href="http://www.w3.org/html/logo/">
<img src="https://www.w3.org/html/logo/badge/html5-badge-h-connectivity-css3-device-performance-semantics.png" width="261" height="64" alt="HTML5 Powered with Connectivity / Realtime, CSS3 / Styling, Device Access, Performance &amp; Integration, and Semantics" title="HTML5 Powered with Connectivity / Realtime, CSS3 / Styling, Device Access, Performance &amp; Integration, and Semantics">
</a></p>
<p><a href="/humans.txt"><img src="{% static 'images/humanstxt-isolated-blank.gif' %}" /></a></p>
</div>
</div>