{% extends "base.html" %}

{% block local_style %}
<style>
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
{% endblock local_style %}

{% block main_content %}
<div class="form-signin">
<form class="form-signin{% if form.errors %} has-error{% endif %}" method="post">
{% csrf_token %}
<h2 class="form-signin-heading">Reset Password</h2>
<label for="{{ form.old_password.id_for_label }}" class="sr-only">{{ form.old_password.label }}</label>
<input type="password" id="{{ form.old_password.id_for_label }}" name="{{ form.old_password.name }}" class="form-control" placeholder="{{ form.old_password.label }}" required />
<ul class="help-block">{% for e in form.old_password.errors %}<li>{{ e }}</li>{% endfor %}</ul>
<label for="{{ form.new_password1.id_for_label }}" class="sr-only">{{ form.new_password1.label }}</label>
<input type="password" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.name }}" class="form-control" placeholder="{{ form.new_password1.label }}" required />
<ul class="help-block">{% for e in form.new_password2.errors %}<li>{{ e }}</li>{% endfor %}</ul>
<label for="{{ form.new_password2.id_for_label }}" class="sr-only">{{ form.new_password2.label }}</label>
<input type="password" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.name }}" class="form-control" placeholder="{{ form.new_password2.label }}" required />
<button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Reset Password</button>
</form>
</div>
{% endblock main_content %}
